<%- include("partials/header") -%>

<!-- <h1> <%= article.title %> </h1>
<h1> <%= article.author %> </h1>
<h4>  <%= article.createdAt %>  </h4>
<p> <%= article.description %> </p> -->
<div class="container mt-4 border border-secondary p-4 post-container">
  <div class="container">
    <h3> <%= article.title %></h3>
  </div>
<div class="container text-muted d-inline">
    <p class="d-inline"> <%= article.createdAt.toLocaleDateString('en-GB')  %>   </p>
    <p class="d-inline">    <%= article.author%></p>

</div>
  <div class="container my-4">
    <p> <%= article.description %></p>
  </div>
  <div class="container">
    <p> <%= article.markdown %></p>
  </div>
<a href="/" class="btn btn-secondary"> All Notices</a>
<a href="/articles/edit/<%= article.id %>" class="btn btn-success"> Edit This Notice</a>

</div>


<%- include("partials/footer") -%>
